@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";




.myIframe {
    position: fixed;
    bottom: 10px;
    left: 50%;
    right: 50%;
    width: 600px;
    height: 400px;
    z-index: 10;
    border: none;
  }